// <ШРИФТЫ> =========================================================================

// <подключаем шрифты> ==================================================
// @import url("");
@import "fonts";
// </подключаем шрифты> ==================================================

// <Иконочные шрифты> ==================================================
// @import "icons";
// </Иконочные шрифты> ==================================================

// </Шрифт по умолчанию> ==================================================
// $fontFamily: "";
// </Шрифт по умолчанию> ==================================================

// </ШРИФТЫ> =============================================================

// <МИКСИНЫ> ===================================================================
@import "mixins";
//===================================================================

// <ОБНУЛЕНИЕ> ====================================================
@import "nullstyle";

// ===============================================

// <Класс .ibg> ====================================================
// .ibg{
// 	background-position: center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	position: relative;
// 	}
// 	.ibg img{
// 	width: 0;
// 	height: 0;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	opacity: 0;
// 	visibility: hidden;
// 	}

// ===============================================



// <ПЕРЕМЕННЫЕ> ===================================================================
$primary: 	#F9F7FA;
$secondary: #3B1788;
$white: 		#fff;
$dark: 		#1D0B44;
$lighten: 	#B4B4CC;
$statcolor: #C9C9DB;

$header-height: 36rem;

$z-index-header:1000;
// ====================================================


// <BREAKPOINTS> ====================================================
$tablet-bp: 991px;

$mWContainer: 1230px;
$minWidth: 320px;
$md1: $mWContainer;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
// ====================================================

// <ОБЩИЕ ПАРАМЕТРЫ> ====================================================
html {
	font-size: 62.5%;
}
body {
	background-color: $primary;

	font-family: "Montserrat", sans-serif;
	font-size: 1.4rem;
	color: $dark;
	font-weight: 400;
	line-height: 1.5;
}
body.lock {
	overflow: hidden;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

// <ОСНОВНОЙ БЛОК> ========================
.content {
	padding: 10rem 0 5rem;
	flex: 1 1 auto;

	@media (min-width: $md3) {
		padding: 11.5rem 0 6rem;
	}

	&__breadcrumbs {
		margin-bottom: 3rem;

		@media (min-width: $md2) {
		margin-bottom: 5rem;
		}
	}

	&__slogan {
		margin-bottom: 2.5rem;
	}

	&__consultation {
	}

	&__articles {
	}
}

.title {
	font-family: "Century Gothic";
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 4rem;
	color: $dark;

	@media (max-width: $md4) {
		font-size: 2.6rem;
		line-height: 3.2rem;
	}
}
// ================================================

// <ОСНОВНАЯ СЕТКА> ====================================================
._container {
	max-width: $mWContainer;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	// @media (max-width: $md1) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
// ====================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ > ====================================================
@import "blocks/ui";
// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ> ====================================================

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> ====================================================
@import "blocks/visually-hidden";

// @import "blocks/popup";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/footer";
@import "blocks/home";
@import "blocks/article";
@import "blocks/services";
@import "blocks/corporate-events";
@import "blocks/corporate-trainings";
// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> ========================