// переменные
@import "vars";

// Файл обнуляющих стилей
@import "_nullstyle";
// @import "vendor/reset.scss";



html {
	font-size: 62.5%;
}


body {
	background-color: $primary;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	color: $dark;
	font-weight: 400;
	line-height: 1.5;
}


/* Blocks */
@import "blocks/main";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/consulatation";
@import "blocks/articles";
@import "blocks/stat";
@import "blocks/banners";
@import "blocks/btn";