.articles {
	padding-bottom: 6.5rem;
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem;
	}

	&__column {
		flex: 0 1 50%;
		margin-bottom: 2rem;
		padding: 0 1rem;
	}

	&__item {
		position: relative;
		border-radius: .5rem;
		overflow: hidden;
		cursor: pointer;

		margin-bottom: 2rem;

		&:hover {
			.articles__image {
				transform: scale(1.1);
			}
		}
	}

	&__item-row {
		display: flex;
		margin: 0 -1rem;
	}

	&__item-column {
		flex: 0 1 50%;
		padding: 0 1rem;
	}

	&__image {
		width: 100%;

		transition: transform .4s ease-in-out;

		&::after {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;

			background: linear-gradient(180deg, 
			rgba(29, 11, 68, 0) 0%,
			rgba(29, 11, 68, 0.9) 100%);
		}
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	&__label {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;

		padding: 2.3rem 2.4rem;

		&:hover {
			.articles__author {
			transform: scale(1.05);
			}
		}
	}

	&__label--sm {
		padding: 1.2rem 1.5rem;

		&:hover {
			.articles__author {
			transform: scale(1);
			}
		}
}


	&__author {
		display: block;
		color: $secondary;
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 1.5rem / 1.2rem *100%;

		background: $white;
		border-radius: 3em;
		padding: 0.8em 1.9em 0.9em;

		transition: transform .2s ease-in-out;
	}

	&__author--sm {
		font-size: 1rem;
		line-height: 1.2rem / 1rem *100%;
		background: none;

		color: $white;

		padding: 0;
	}

	&__inner {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;

		padding: 1.5rem 2.4rem;
	}

	&__inner--sm {
		padding: .6rem 1.5rem;
	}

	&__content {
		color: $white;
	}

	&__title {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem / 1.8rem * 100%;

		margin-bottom: 0.8rem;

		a {
			color: inherit;
			transition: color .2s linear;

			&:hover {
				text-decoration: underline;
				color: $primary;
			}
		}
	}

	&__title--sm {
		font-size: 1.4rem;
		line-height: 2rem / 1.6rem * 100%;
		max-width: 20.2rem;

		margin-bottom: 0.5rem;
	}

	&__text {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2rem / 1.5rem *100%;

		max-width: 42.2rem;
		margin-bottom: 1.5rem;
	}

	&__text--sm {
		font-size: 1.2rem;
		line-height: 1.5rem / 1.2rem *100%;

		margin-bottom: 1.2rem;

		overflow: hidden;
		height: 4.5rem;

		&::before {
			content: "";
			float: left;
			width: 0;
			height: 200px;
		}

		& > *:first-child {
			float: right;
			width: 100%;
			margin-left: -5px;
		}

		&::after {
			content: "\02026";
			box-sizing: content-box;
			float: right;
			position: relative;
			top: -25px;
			left: 100%; 
			width: 3em;
			margin-left: -3em;
			padding-right: 5px;	
			text-align: right;
			background-size: 100% 100%;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
		}
	}

	&__actions {
		display: flex;
		margin-bottom: 2rem;
		color: $white;
	}

	&__actions--sm {
		margin-bottom: 1.2rem;
	}

	&__read {
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.5rem / 1.2rem *100%;

		color: inherit;

		&:hover {
			text-decoration: underline;
			color: $primary;
		}
	}

	&__read--sm {
		font-size: 1rem;
		line-height: 1.4rem / 1rem *100%;
	}
}