.footer {
	background-color: $white;
	border-top: 1px solid #ece8f4;

	&__container {
	}

	&__body {
		padding: 3.8rem 0 2.3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__logo {
		flex: 0 1 23%;
		display: flex;
		justify-content: center;
		a {
			display: inline-block;
		}
		img {
		}
		@media (max-width: 940px) {
			flex: 1 1 100%;
			margin-bottom: 4rem;
			img {
				max-width: 18rem;
			}
		}
	}

	&__menu {
		flex: 0 1 14rem;
		padding: 0 2rem;

		@media (max-width: $md3) {
			flex: 0 1 50%;
			text-align: center;
			margin-bottom: 3rem;
		}
		@media (max-width: 665px) {
			flex: 1 1 100%;
		}
	}

	&__requisites {
		flex: 0 1 15rem;
		padding: 0 2rem;
		@media (max-width: $md3) {
			flex: 0 1 50%;
			text-align: center;
			margin-bottom: 3rem;
		}

		@media (max-width: 665px) {
			flex: 1 1 100%;
		}
	}

	&__info {
		padding: 0 2rem;
		@media (max-width: $md3) {
			flex: 1 1 100%;
		}
	}
}
// ================================================
.menu-footer__title,
.requisites-footer__title,
.info-footer__title {
	font-family: "Century Gothic Bold";
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2rem;
	color: $dark;

	margin-bottom: 1.5rem;

	@media (max-width: $md3) {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}
// ================================================
.logo-footer {
	display: block;

	&__img {
		width: 27.5rem;
	}
}

// ================================================
.menu-footer {
	&__title {
	}

	&__list {
	}

	&__item {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 3rem;
		color: $dark;

		@media (max-width: $md3) {
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}
	}

	&__link {
		color: inherit;

		&:hover {
			@media (min-width: $md3) {
				text-decoration: underline;
			}
		}
	}
}
// ================================================
.requisites-footer {
	&__title {
	}

	&__list {
	}

	&__item {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.7rem;
		color: $dark;

		margin-bottom: 1.5rem;

		span {
			display: block;
			margin-bottom: 0.5rem;
		}

		@media (max-width: $md3) {
			font-size: 1.6rem;
			margin-bottom: 2rem;
		}
	}
}

.info-footer {
	@media (max-width: $md3) {
		text-align: center;
	}
	// .info-footer__title
	&__title {
	}
	// .info-footer__social
	&__social {
		justify-content: start;
		margin-bottom: 5.5rem;
		@media (max-width: $md3) {
			justify-content: center;
			margin-bottom: 4rem;
		}
	}
	// .info-footer__copy
	&__copy {
	}
}
// ================================================
.copy-info-footer {
	// .copy-info-footer__item
	&__item {
		font-size: 1.4rem;
		margin-bottom: 1rem;
		&:last-child{
			margin-bottom: 0;
		}
		a {
			color: $secondary;
		}
		&:hover {
			@media (min-width: $md3) {
				text-decoration: underline;
			}
		}
		&:last-child {
			margin: 0;
		}
	}
}
