// ================================================
// ================================================
.header {
	border: 1px solid #f5f0ff;
	margin-bottom: 40px;

	position: fixed;
	width: 100%;
	top: 0;
	z-index: 50;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: #fff;
		box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.05);
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		position: relative;
		height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$md3){
			  height: 60px;
		}
	}
	// .header__logo
	&__logo {
		flex: 0 0 150px;
		margin-right: 20px;
		position: relative;
		z-index: 3;
		@media (max-width: $md3) {
			margin: 0 auto;
			flex: 0 0 130px;
		}
		img {
		}
	}
	// .header__menu
	&__menu {
	}
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width:$md3){
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #ece6f7;
			overflow: auto;
			padding: 90px 0 65px 0;
			transform: translateY(-100%);
			transition: transform 0.4s ease;

			&._active {
				transform: translateY(0);
			}
		}
		// position: relative;
		& ._active {
		}

	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
		li {
			border-bottom: 2px solid rgba($secondary, 0);
			transition: all 0.2s linear;

			&:hover {
				@media (min-width: $md3) {
					background-color: #f7f6fa;
					border-bottom: 2px solid rgba($secondary, 1);
				}
			}
		}
		@media (max-width:$md3){
			flex-direction: column;
			li {
				padding: 0 0 2.5rem 0;
				&:last-child {
					padding: 0;
				}
			}
		}
	}
	// .menu__link
	&__link {
		display: inline-block;
		font-weight: 500;
		font-size: 1.6rem;
		color: $dark;
		line-height: 2.2rem;
		padding: 2.3rem 4rem 2.3rem;

		@media (max-width: $md2) {
			padding: 2.3rem 1.5rem 2.3rem;
		}
		@media (max-width:$md3){
			font-size: 2.5rem;
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: $md3) {
		display: block;
		position: absolute;
		top: 21px;
		right: 0px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $dark;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
